altair
anyio
app

DateTime

distlib

haversine

inflection
iniconfig
ipykernel
ipython
ipython-genutils

joblib
jsonpointer
jsonschema
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-events
jupyter-highlight-selected-word
jupyter-nbextensions-configurator
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
lxml
MarkupSafe
matplotlib-inline

mysql-connector-python
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nodeenv
notebook
notebook_shim
packaging
pandas

plotly
pluggy
pre-commit

python-dateutil
python-json-logger
pytz
pytz-deprecation-shim
pywin32
pywinpty
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator

scikit-learn
scipy
numpy
sklearn==0.0.post1
smmap

